.orderList-section {
	background-color: #e0e3e8;
	padding-top: 140px;
    font-family: 'Rajdhani', sans-serif;
}

.orderList-section .header h3 {
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 25px;
	padding-top: 20px;
	font-family: 'Rajdhani', sans-serif;
}

.orderList-section .orderList-wrap{
	margin: 25px 0;
	border: 1px solid #000;
	border-radius: 15px;
	padding: 25px;
	font-family: 'Rajdhani', sans-serif;
	background-color: #fff;
}
.orderList-section .orderList-wrap .orderList-delivery h5{
    font-weight: 700;
}
.order-list-section{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	font-weight: 700;
}